<h1>Register</h1>
<!-- Flash Success Message -->
<% if (typeof success !== 'undefined' && success.length > 0) { %>
  <p class="success"><%= success[0] %></p>
<% } %>

<!-- Flash Error Message -->
<% if (typeof error !== 'undefined' && error.length > 0) { %>
  <p class="error"><%= error[0] %></p>
<% } %>


<form action="/account/register" method="POST">
  <label for="first_name">First Name:</label>
  <input type="text" name="account_firstname" id="first_name" required 
         value="<%= typeof account_firstname !== 'undefined' ? account_firstname : '' %>">

  <label for="last_name">Last Name:</label>
  <input type="text" name="account_lastname" id="last_name" required 
         value="<%= typeof account_lastname !== 'undefined' ? account_lastname : '' %>">

  <label for="email">Email:</label>
  <input type="email" name="account_email" id="email" required 
         value="<%= typeof account_email !== 'undefined' ? account_email : '' %>">

  <label for="password">Password:</label>
  <input type="password" name="account_password" id="password" required>

  <button type="submit">Register</button>
</form>
